{% extends "page1.html" %}

{% block title %}other bank - ANDi Banking{% endblock %}

{% block content %}
<div class="container" style="padding-top: 10px;">

  <!-- Header -->
  <div class="card p-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="d-flex align-items-center">
      <i class="bi bi-display me-2"></i>
      <h3 class="mb-0">Other Bank</h3>
    </div>
    <a class="btn btn-primary" href="#">+ Add New Bank</a>
  </div>
</div>
{% endblock %}
